.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1% 13%;
}

.main-header, .main-calendar {
    display: flex;
    width: 100%;
    align-items: center;
}

.main-header {
    padding: 10px 0;
}

.day-item {
    display: flex;
    align-items: center;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    padding-left: 3px;
}

.day {
    margin: 0 5px;
}

.day-text {
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 10px;
}

.calendar-item {
    display: flex;
    flex: 1 0 11%;
    border: 1px solid #D3D3D3;
    padding: 15px;
    font-size: 1.1em;
    width: 100%;
    position: relative;
    z-index: 1;
    flex-direction: column;
    max-width: 125px;
    word-wrap: break-word;
    overflow: hidden
}

.calendar-week {
    color: #A9A9A9;
    font-size: 15px;
}

.calendar-row {
    display: flex;
    flex-wrap: wrap;
}

.calendar-day:hover {
    cursor: pointer;
    background: #DCDCDC;
}

.events-modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 400px;
    right: 0;
    background-color: #FFFFFF;
    width: 250px;
    height: 280px;
    z-index: 2;
    box-shadow: 1px 2px 5px #8888;
    padding-right: 15px;
}

.events-modal::before, .events-modal::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-right: 10px solid #FFFFFF;
    z-index: 1000;
    left: -19px;
    top: 35px;
}
.events-modal::after {
    border-right: 10px solid #DCDCDC;
    left: -20px;
    top: 35px;
    z-index: 999;
}

.events-modal-head {
    padding: 10%;
}

.events-modal-head-input input {
    width: 100%;
    margin: 0 0 5px 0;
}

.events-modal-content {
    padding: 0 10%;
}

.events-modal-exit {
    position: absolute;
    right: 5px;
    top: 5px;
}

.events-modal-exit:hover {
    cursor: pointer;
}

.events-modal-footer {
    padding: 5% 10% 0 10%;
}

.events-modal-footer button {
    margin-right: 5px;
}

textarea {
    width: 100%;
    min-height: 85px;
}

.calendar-day-title {
    font-weight: 600;
}

.calendar-day-users {
    font-size: 12px;
}
.calendar-day-number {
    color: #A9A9A9;
}

.modal-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-date {
    margin-bottom: 10px;
    font-size: 13px;
}
