input, textarea {
    border-radius: 2px;
    border: 1px solid #C0C0C0;
}

textarea {
    resize: none;
    padding: 5px;
}

.header {
    display: flex;
    height: 80px;
    background: #DCDCDC;
    align-items: flex-end;
    padding: 1% 0;
    margin: 0 auto;
    box-shadow: 1px 2px 5px #8888
}

.button {
    background: #4169E1;
    color: #FFFFFF;
    padding: 2px 15px;
    border-radius: 3px;
    border: 1px solid #4169E1;
    margin-right: 10px;
    font-size: 14px;
}

.section-buttons {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section-buttons_left {
    display: flex;
}

.section-buttons_right {
    display: flex;
    align-items: center;
}

.search-icon {
    display: flex;
    color: #808080;
    margin-right: 10px;
}

.search-input {
    border-radius: 5px;
    padding: 2px 7px;
    font-size: 13px;
    width: 200px;
}

.add-event-input {
    width: 100%;
    margin-bottom: 6px;
    padding: 2px;
}

.add-event-form {
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    padding: 20px 35px 20px 20px;
    position: absolute;
    background: #FFFFFF;
    z-index: 5;
    display: flex;
    top: 130px;
    box-shadow: 1px 2px 5px #8888;
}
.add-event-form::before, .add-event-form::after {
    content: '';
    position: absolute;
    left: 20px; bottom: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #C0C0C0;
    bottom: 88px;
}
.add-event-form::after {
    border-bottom: 10px solid #FFFFFF;
    bottom: 86px;
}

.create-button {
    cursor: pointer;
}

.autosuggest {
    margin: 10px 0;
    padding: 10px;
    position: absolute;
    width: 200px;
    background: white;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    height: auto;
    z-index: 3000;
}

.autosuggest-item {
    padding: 10px;
    border-bottom: 1px solid #C0C0C0;
}

